name: Guarch Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Run Tests
        run: go test ./pkg/... -v

      - name: Run Tests with Race Detector
        run: go test ./pkg/... -race
